@import "colors.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
body {
    background: var(--base);
    color: var(--text);
    font-family: "IBM Plex Sans";
}
.aboutme {
    text-align: left;
    background: var(--mantle);
    border-radius: 12px;
    color: var(--text);
    font-weight: 500;
    margin: 35px;
    padding: 14px;
    text-align: left;
    width: 390px;
}
.container {
    background: var(--base);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    width: 90%;
}
.links {
    text-align: left;
    background: var(--mantle);
    border-radius: 12px;
    color: var(--text);
    margin: 35px;
    margin-top: 0px !important;
    padding: 14px;
    text-align: left;
    width: 390px;
}
.links a {
    color: var(--pink);
    font-weight: 500;
}
.links ul > li {
    padding-top: 10px;
    padding-bottom: 10px;
}
.pronouns {
    background: var(--mantle);
    border-radius: 12px;
    color: var(--text);
    margin: 35px;
    padding: 14px;
    text-align: left;
    width: 335px;
}
.pronouns ul > li {
    float: left;
    text-align: inherit;
    padding-top: 10px; 
    padding-bottom: 10px;
}
.placeholder {
    background: var(--mantle);
    border-radius: 12px;
    color: var(--text);
    margin: 35px;
    margin-top: 0px !important;
    padding: 14px;
    width: 335px;
}
.subtext {
    color: var(--subtext1);
    font-family: "Fira Code", monospace;
    font-weight: 400;
}

/* mobile compatibility */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}